<p-table [columns]="cols" [value]="users"  styleClass="p-datatable-striped"  >

  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Products
      <p-button icon="pi pi-refresh"></p-button>
  </div>
</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
          {{col.header}}
      </th>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
    <td *ngFor="let col of columns">
      {{rowData[col.field]}}
</td>
</tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        In total there are {{users ? users.length : 0 }} products.
    </div>
</ng-template>
</p-table>
