<p-table
  [value]="users"
  [lazy]="true"
  styleClass="p-datatable-striped"
  [(selection)]="selectedUser"
  selectionMode="single"
  dataKey="id"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
  paginatorLocale="es-es"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  editMode="row"
  [totalRecords]="totalRecords"
  [selectAll]="selectAll"
  (selectionChange)="onSelectionChange($event)"
  (onLazyLoad)="loadUsers($event)"
  [globalFilterFields]="['name', 'nameUser', 'email', 'createdDate']"
>
  <ng-template pTemplate="caption">
    <div class="header-table flex align-items-center justify-content-center">
      Usuarios
      <p-button icon="pi pi-refresh"></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name" (onFilter)="printFilteredUsers($event)"></p-sortIcon>
      </th>
      <th pSortableColumn="nameUser">
        NameUser <p-sortIcon field="nameUser"></p-sortIcon>
      </th>
      <th pSortableColumn="email">
        Email <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="createdDate">
        Creation date <p-sortIcon field="createdDate"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th>
        <p-columnFilter   type="text" field="name" ></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="nameUser"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="email"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="createdDate"></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-user
    let-editing="editing"
    let-ri="rowIndex"
  >
    <tr [pSelectableRow]="user" [pEditableRow]="user">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.nameUser" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.nameUser }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="user.email" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.email }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="date" [(ngModel)]="user.createdDate" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ user.createdDate | date : "dd/MM/yyyy" }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div class="flex align-items-center justify-content-center gap-2">
          <button
            *ngIf="!editing"
            pRipple
            type="button"
            pInitEditableRow
            (click)="onRowEditInit(user)"
            class="button-table"
          >
            <i class="pi pi-pencil icon-table"></i>
          </button>
          <button
            *ngIf="editing"
            pRipple
            type="button"
            pSaveEditableRow
            (click)="onRowEditSave(user)"
            class="button-table"
          >
            <i class="pi pi-check icon-table"></i>
          </button>
          <button
            *ngIf="editing"
            pRipple
            type="button"
            pCancelEditableRow
            (click)="onRowEditCancel(user, ri)"
            class="button-table"
          >
            <i class="pi pi-times icon-table"></i>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button
      type="button"
      icon="pi pi-plus"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="paginatorright">
    <p-button
      type="button"
      icon="pi pi-cloud"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      Hay un total de {{ users ? users.length : 0 }} usuarios.
    </div>
  </ng-template>
</p-table>
